/* BELOW HEADER CSS */

header {
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgb(69, 85, 136), rgb(131, 116, 216));
  box-shadow: 1px 1px 10px 5px rgb(68, 64, 64);
  transition: 0.6s;
}
.color {
  color: #fda2f1e8;
}

.nav {
  position: relative;
  line-height: 50px;
  box-shadow: 1px 1px 10px 5px rgb(10, 7, 7);
}

header .nav .menu {
  position: relative;
  display: flex;
  justify-content: center;
  list-style: none;
  user-select: none;
  margin: 90px;
  box-shadow: 1px 1px 10px 5px rgb(0, 0, 0);
}

.menu-item > a {
  color: #fda2f1e8;
  font-size: 1.2em;
  text-decoration: none;
  margin: 20px;
  padding: 5px 0;
}

.menu-item > a:hover {
  color: rgb(211, 247, 7);
  transition: 0.3s;
}

/* .sub-menu {
    width: 60vw;
    position: fixed;
    right: -50%;
    /*background-color: red;*/
/* } */

/* .container{
    margin: 0;
    padding: 20px;
  } */

/* END HEADER CSS */
