header {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(rgb(69, 85, 136), rgb(131, 116, 216));
  border-radius: 5%;
  position: sticky;
}
nav {
  left: 90%;
  position: fixed;
}
.menu-item {
  color: rgba(255, 255, 255, 0.205);
}
.menu-item > a {
  color: #fda2f1e8;
  font-size: 150%;
  text-decoration: none;
}

.menu-item > a:hover {
  color: rgb(177, 255, 167);
  transition: 0.2s;
}

.container {
  color: rgb(255, 255, 250);
  background: linear-gradient(rgba(66, 45, 105, 0.61), rgba(240, 227, 227, 0)),
    url(/images/japan-night-scenery-from-w0.peakpx.com.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.about-section {
  display: grid;
  justify-items: center;
  padding-bottom: 100px;
  font-size: 180%;
  text-align: center;
}
.logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.profileimage {
  display: grid;
  border-radius: 50%;
}
img {
  height: 290px;
  width: 290px;
  border-radius: 30%;
  box-shadow: 0px 1px 14px 5px rgb(12, 8, 4);
}
.skills-section {
  text-align: center;
  font-size: 180%;
}
.edu-section {
  text-align: center;
  font-size: 180%;
}

.project-section {
  display: flex;
  justify-content: space-around;
  font-size: 180%;
}

.contact-section {
  text-align: center;
  font-size: 180%;
}
.contact-section > a:hover {
  color: aqua;
  transition: 0.2s;
}
.color {
  color: #fda2f1e8;
}
.color-1 {
  color: rgb(193, 214, 73);
}

footer {
  display: flex;
  justify-content: center;
  height: 90px;
  padding-block: 100px;
  font-size: 120%;
}
